---
import { defaultLocale } from '@/i18n/config';
import { initI18n } from '@/i18n/initI18n';
import Layout from '@/layouts/Layout.astro';

const { locale, t, redirect } = await initI18n(Astro.params);
if (redirect) {
  return Astro.redirect(`/${defaultLocale}`);
}
---

<Layout>
  <section class="h-screen flex items-center justify-center">
    <h1 class="text-2xl font-bold mb-4">{t.about.title}</h1>
  </section>
</Layout>
