---
import LanguagePicker from '@/components/Ui/LanguagePicker.astro';
import { defaultLocale } from '@/i18n/config';
import { translations } from '@/i18n/translate';

let { locale } = Astro.params;

if (!locale) {
  locale = defaultLocale;
}

const t = await translations(locale);
---

<footer class="bg-slate-300 dark:bg-grey-200 shadow-sm relative z-50">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div
      class="flex lg:flex-1 lg:justify-end pl-2 text-slate-800 dark:text-slate-100"
    >
      <LanguagePicker />
    </div>
  </nav>
</footer>
