
---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="h-screen flex items-center justify-center">
		<h1 class="text-2xl font-bold mb-4">404 - Page Not Found</h1>
	</section>
</Layout>

